/*---------------------
    Font Import
-----------------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


/*---------------------
    Main Body
-----------------------*/

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/*---------------------
    Header Style
-----------------------*/




/*---------------------------
    All Players information
            card
-----------------------------*/

/* display: flex;
flex-direction: row;
align-items: flex-start;
padding: 15px; */

.football-players {
    display: flex;
    justify-content: center;
    margin: 70px 0 165px 0;
}

.all-players-info {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 27px 0;
}

.player-card {
    width: 300px;
    height: 474px;
    padding: 15px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
    margin: 0 15px;
}

.player-img img{
    width: 300px;
    height: 256px;
}


/*---------------------------
    Highlights Information
-----------------------------*/

.highlights-news {
    display: flex;
    align-items: center;
    margin: 70px 0 165px 0;
}

.highlights-info {
    padding-left: 175px;
    padding-right: 66px;
}

.highlights-info h1{
    font-size: 48px;
    font-weight: 700;
    padding-right: 20px;
}

.highlights-info p{
    padding-right: 75px;
}

.highligts-img img {
    width: 567px;
    height: 427px;
    margin-right: 125px;
}

.watch-now-btn {
    padding-top: 24px;
}

.watch-now-btn a {
    text-decoration: none;
    color: white;
    background-color: #E02C6D;
    padding: 10px 24px;
    font-weight: 500;
}

/* .watch-now-btn a i{
    text-decoration: none;
    color: white;
    font-weight: 500;
} */